@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.5);
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  margin-bottom: 50px;
}

.card h2 {
  margin: 0;
  padding: 0 1rem;
}

.card .title {
  padding: 1rem;
  text-align: right;
  color: black;
  font-weight: bold;
  font-size: 0.9em;
}

.card .desc {
  padding: 0.5rem 1rem;
  font-size: 1.3em;
}

.card svg {
  width: 85px;
  height: 85px;
  margin: 0 auto;
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.definition {
  padding: 2.5em 1.5em 1.5em 1.5em;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: linear-gradient(red, yellow);
  background-position: bottom center;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  /* color: #8bc34a; */
  cursor: pointer;
  /* transition: 0.5s; */
}
/* button:hover {
  color: #4caf50;
  transform: rotate(22deg);
} */
